<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<h2 class="footer-heading">Connect with me!</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1" style="width: calc(30% - (30px / 3))">
    <ul class="contact-list">
      <li class="p-name">Email:</li><li><a class="u-email" href="mailto:aostapen@andrew.cmu.edu">aostapen@andrew.cmu.edu</a></li></ul>
  </div>

  <div class="footer-col footer-col-2" style="width: calc(30% - (30px / 3))"><ul class="social-media-list"style="padding-left:0pt;"><li><a href="https://github.com/ostapen"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg><span class="username">ostapen</span></a></li><li><a href="https://www.linkedin.com/in/alissaostapenko"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg><span class="username">alissaostapenko</span></a></li></ul>
</div>
<div class="footer-col footer-col-3" style="width: calc(30% - (30px / 3))">
<ul class="social-media-list">
  <li><a href="/documents/Resume_Ostapenko_Website.pdf"><img src="/images/cloud_download-24px.svg" style="opacity:0.5;transform: scale(0.85, 0.85); padding-left:0pt;"></img> <span class="username">CV</span></a></li>
</ul>
</div>

</div>

</footer>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
