---
layout: default
---
<header class="post-header">
  <h3 class="post-title">{{ page.title | escape }}</h3>
</header>
<div class="container">
  <div class="column" style="column-count:2; column-width:320px">
    <!-- <div class="col-md-4" style="width: 18rem;"> -->
      <div class="card" style="width:20rem;">

        <img src={{page.image}} class="card-img-top" alt="...">
      <!-- <div class="card-footer w-100"> -->
          <p class="card-footer" style="padding-top:20px; width:18rem; text-align:left;">{{content}}</p>

      </div>

      </div>


      </div>
