---
layout: default
---
<header class="post-header">
  <h3 class="post-title">{{ page.title | escape }}</h3>
</header>
<div class="card">
  <div class="row">
    <div class="col-md-4" style="width: 18rem;">
      <img src={{page.image}} class="card-img-top" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-footer w-100">
        <ul class="contact-list">
          <li class="p-name">Email:</li><li><a class="u-email" href="mailto:aostapenko@wpi.edu">aostapenko@wpi.edu</a></li></ul>

    </div>
    </div>

    </div>
    </div>
<div class="column" style="width: 66%">
  <!-- <div class="card-body"> -->
    <!-- <h4 class="card-title">{{page.myname}}</h4> -->
    <p class="card-text">{{page.summary}}</p>

<!-- </div> -->
</div>
</div>
